#CanvasContainer {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  position: relative;
  overflow: hidden;
}



/* Crosshair in the center */
.crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border: 2px solid #FF7474;
  border-radius: 50%;
  pointer-events: none;
  box-sizing: border-box;
}

.crosshair::before, .crosshair::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FF7474;
}

/* Horizontal line of crosshair */
.crosshair::before {
  width: 32px;
  height: 2px;
}

/* Vertical line of crosshair */
.crosshair::after {
  width: 2px;
  height: 32px;
}


